@import "../../base";

.contacts{
  
  &__header{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

    &-name{
      font-weight: 700;
      font-size: 20px;
    }

    &-btn{
      border: 0;
      background: #F5F7FB;
    }
  }

  &__search{
    padding: 20px;
    .ant-input-affix-wrapper {
      display: flex;
      align-items: center;
    }
    
    .ant-input-prefix {
      margin-right: 15px;
    }

    &-input{
      width: 100%;
    }
  }
}